@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E2A;
  background-image: url("../../assets/images/bg-stars.svg");
  color: #C7C6CC;
  font-family: Rubik, sans-serif;
}
body h1 {
  font-size: 2em;
  letter-spacing: 4px;
}
body p {
  font-size: 1.8em;
  font-weight: bold;
}
@media only screen and (max-width: 760px) {
  body p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 560px) {
  body p {
    font-size: 1em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.title {
  margin-bottom: 80px;
  font-size: 2em;
}
@media only screen and (max-width: 940px) {
  .title {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 760px) {
  .title {
    font-size: 1em;
  }
}
@media only screen and (max-width: 560px) {
  .title {
    font-size: 0.8em;
  }
}

.timer-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.timer-section .label {
  color: #70708F;
  padding: 10px 10px;
  letter-spacing: 4px;
}
.timer-section .label p {
  font-weight: 100;
  font-size: 1em;
}
@media only screen and (max-width: 1140px) {
  .timer-section .label {
    font-size: 1em;
  }
}
@media only screen and (max-width: 940px) {
  .timer-section .label {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 760px) {
  .timer-section .label {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 560px) {
  .timer-section .label {
    font-size: 0.4em;
  }
}
.timer-section .digit {
  background-image: linear-gradient(to bottom, #2c2e42 50%, #34364f 50%);
  border-radius: 6px 6px 6px 6px;
  padding: 30px;
  color: #d4516f;
  font-size: 5em;
  margin: 20px;
  font-weight: bold;
  width: 240px;
  height: 240px;
  position: relative;
}
.timer-section .digit:before {
  content: "";
  background-color: #1E1E2A;
  height: 12px;
  width: 8px;
  border-radius: 10px;
  position: absolute;
  left: -6px;
  top: 113px;
  z-index: 10;
  border-left: 6px solid #1E1E2A;
}
@media only screen and (max-width: 1140px) {
  .timer-section .digit:before {
    height: 12px;
    width: 8px;
    position: absolute;
    left: -6px;
    top: 92px;
    z-index: 10;
    border-left: 6px solid #1E1E2A;
  }
}
@media only screen and (max-width: 940px) {
  .timer-section .digit:before {
    top: 73px;
  }
}
@media only screen and (max-width: 760px) {
  .timer-section .digit:before {
    height: 8px;
    width: 6px;
    top: 55px;
  }
}
@media only screen and (max-width: 560px) {
  .timer-section .digit:before {
    height: 6px;
    top: 34px;
  }
}
@media only screen and (max-width: 390px) {
  .timer-section .digit:before {
    height: 6px;
    top: 26px;
  }
}
.timer-section .digit:after {
  content: "";
  background-color: #211D2B;
  height: 12px;
  width: 8px;
  border-radius: 10px;
  position: absolute;
  right: -6px;
  top: 113px;
  z-index: 10;
  border-right: 6px solid #1e1f29;
}
@media only screen and (max-width: 1140px) {
  .timer-section .digit:after {
    height: 12px;
    width: 2px;
    position: absolute;
    right: -6px;
    top: 92px;
    z-index: 10;
    border-left: 6px solid #1E1E2A;
  }
}
@media only screen and (max-width: 940px) {
  .timer-section .digit:after {
    top: 73px;
  }
}
@media only screen and (max-width: 760px) {
  .timer-section .digit:after {
    height: 8px;
    width: 1px;
    top: 55px;
  }
}
@media only screen and (max-width: 560px) {
  .timer-section .digit:after {
    height: 6px;
    top: 34px;
  }
}
@media only screen and (max-width: 390px) {
  .timer-section .digit:after {
    height: 6px;
    top: 26px;
  }
}
@media only screen and (max-width: 1140px) {
  .timer-section .digit {
    border-radius: 6px 6px 6px 6px;
    padding: 20px;
    font-size: 4.5em;
    margin: 15px;
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 940px) {
  .timer-section .digit {
    border-radius: 6px 6px 6px 6px;
    padding: 18px;
    font-size: 3.5em;
    margin: 12px;
    width: 160px;
    height: 160px;
  }
}
@media only screen and (max-width: 760px) {
  .timer-section .digit {
    border-radius: 6px 6px 6px 6px;
    padding: 16px;
    font-size: 3.3em;
    margin: 10px;
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 560px) {
  .timer-section .digit {
    border-radius: 6px 6px 6px 6px;
    padding: 14px;
    font-size: 2.8em;
    margin: 8px;
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 390px) {
  .timer-section .digit {
    border-radius: 6px 6px 6px 6px;
    padding: 14px;
    font-size: 1.8em;
    margin: 8px;
    width: 60px;
    height: 60px;
  }
}

.footer-section {
  background-image: url("../../assets/images/pattern-hills.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-section .social-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.footer-section .social-link-container li {
  padding: 20px 20px;
}
.footer-section .social-link-container li img:hover {
  cursor: pointer;
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(302.4deg) brightness(0.7);
}
.footer-section .attribution {
  font-size: 11px;
  text-align: center;
  color: #70708F;
}
.footer-section .attribution a {
  color: #C7C6CC;
  text-decoration: none;
}
.footer-section .attribution a:hover {
  color: #d4516f;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
