

//  colours
$primary-text-color : #C7C6CC;
$secondary-text-color : #70708F;
$background-color : #1E1E2A;
$hover-color : #d4516f;

// images
$background-img : '../../assets/images/bg-stars.svg';
$footer-background-img : '../../assets/images/pattern-hills.svg';


//  media queries
$layout-breakpoint-xlarge: 1140px;
$layout-breakpoint-large: 940px;
$layout-breakpoint-medium: 760px;
$layout-breakpoint-small: 560px;
$layout-breakpoint-extra-small: 390px;
